.bar-title{
    box-sizing: border-box;
    display: flex;
    padding: 16px;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #7E7E82;
    text-transform: uppercase;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    box-shadow: 0 -0.2px 0.5px 0px #41F6D7 ;
}

@media screen and (max-width: 576px){
.bar-title_margin{
    margin-top: 30px;
}

.title-typeRepairs_margin{
    margin-top: 28px;
}

.service-price_title{
    margin-top: 20px;
}
}

@media screen and (min-width: 577px) and (max-width: 1119px) {
.bar-title_margin{
    margin-top: 20px;
    margin-bottom: 20px;
}

.bar-title_typeRepairs{
    margin-top: 24px;
}

.service-price_title{
    margin-top: 24px;
}
}

@media screen and (min-width: 1120px){
.bar-title_margin{
    margin-top: 50px;
    margin-bottom: 24px;
}

.title-typeRepairs_margin{
    margin-bottom: 35px;
}

.service-price_title{
    margin-top: 51px;
}
}