
.information-block{
    font-size: 14px;
    line-height: 20px;  
    padding-left: 16px;
    padding-right: 16px;
}

.text-button-offer{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.button-offer{
    cursor: pointer;
    border: none;
    margin-left: 5px;
    width: 10px;
    height: 11.5px;
    background: no-repeat url(/src/img/icon/dropdown.svg);
}

@media screen and (min-width: 768px) and (max-width: 1119px){
.information-block_margin{
    margin-top: 20px;
}

.information-block p {
    width: 421px;
    margin-left: 13px;
}

.text-button-offer{
    margin-left: 13px;
}
}

@media screen and (min-width: 1120px){
.information-block_margin{
    margin-top: 30px;
}

.information-block p {
    width: 421px;
    margin-left: 2%;
}

.text-button-offer{
    margin-left: 2%;
}
}