.brands-cricle:hover{
    box-shadow: 0px 0px 2px 1px #FF3E79;
}

.brands-cricle:focus{
    box-shadow: inset 0px 0px 2px 1px #FF3E79;
}

.brands-list{
    padding: 0px;
    height: 160px;
}

.brands-list_height{
    height: auto;
}

.swiper-wrapper{
    width: auto;
}

.swiper-slide{
    background: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    border-radius: 6px;
    padding: 0px 16px 0px 16px;
    margin-right: 0px;
    height: 72px;
}

.brands-cricle{
    cursor: pointer;
    width: 40px;
    height:40px;
    border: 1px solid #FF3E79;
    border-radius: 20px;  
    background:no-repeat url('/src/img/icon/dropdown.svg'); 
    background-position: center;
}

@media screen and (max-width: 576px){
.mySwiper{
    margin-top: 16px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    height: auto;
    overflow-x: hidden;
}

.swiper-wrapper{
    display: flex;
    gap: 28px;
    height: auto;
    padding-left: 16px;
}

.swiper-slide{
    width: 240px;
}

.swiper-slide__img{
    width: 20vw;
}

.swiper-slide__img_lil-size{
    width: 10vw;
}

.swiper-pagination{
    position: static;
}

.button-read-more_invisible{
    display: none;
}
}

@media screen and (min-width: 577px) and (max-width: 1119px) {
.swiper-pagination{
    display: none;
}

.swiper-wrapper{
    transform: none;
}

.brands{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.brands-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    column-gap: 25px;
    row-gap: 15px;
    padding-left: 3%;
}

.brands__item{
    padding: 10px;
    width: 29%;
    height: 72px;
    border: 1px solid #EAEAEA;
}

.swiper-slide__img{
    width: 30%;
}

.swiper-slide__img_lil-size{
    width: 15%;
}
}

@media screen and (min-width: 1120px){
.swiper-wrapper{
    transform: none;
}

.swiper-pagination{
    display: none;
}

.brands-list{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding-left: 2.5%;
}

.swiper-wrapper_height{
    height: 160px;
}

.brands__item{
    flex-shrink: 2;
    padding: 10px;
    width: 21.5vw;
    height: 72px;
    border: 1px solid #EAEAEA;
    margin: 0px 2.5% 16px 0px;
}

.swiper-slide__img{
    width: 6vw;
}

.swiper-slide__img_lil-size{
    width: 2.5vw;
}

.img-big-size{
    width: 50px;
}
}

@media screen and (min-width: 1440px){
.swiper-wrapper{
    transform: none;
}

.swiper-pagination{
    display: none;
}

.brands-list{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding-left: 2.5%;
}

.swiper-wrapper_height{
    height: 160px;
}

.brands__item{
    flex-shrink: 2;
    padding: 10px;
    width: 16.8vw;
    height: 72px;
    border: 1px solid #EAEAEA;
    margin: 0px 2.5% 16px 0px;
}

.swiper-slide__img{
    width: 6vw;
}

.swiper-slide__img_lil-size{
    width: 2.5vw;
}

.img-big-size{
    width: 50px;
}
}