.swiper-slide_service-price{
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 16px;
    align-items: start;
    padding: 10px;
}

.swiper-cricle_service-price{
    width: 119px;
    height: 32px;
    color: aliceblue;
    background-color: #FF3E79;
    border-radius: 16px;
    margin-left: auto;
}

.swiper-slide_title{
    color: #7E7E82;
}

.swiper-slide_title{
    margin-bottom: 0px;
}

.brands__description{
    margin: 4px 0px 8px 0px;
}

.brands-button{
    display: flex;
    gap: 17px;
    align-items: center;
    padding: 0px 10px 0px 15px;
    width: 119px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: -0.15px;
    font-weight: bold;
}

.brands-button_cricle{
    width: 7px;
    height: 9px;
    background: url(/src/img/icon/dropdown.png);
    margin-bottom: 2px;
}

.brands-service-price_item:nth-child(1){
    display: none;
}

@media screen and (max-width: 576) {
.brands__title{
    display: none;
}  
}

@media screen and (min-width: 577px) and (max-width: 1119px) {
.brands__title{
    display: none;
}  

.brands-service-price_list{
    padding: 0px;
    margin-left: 3%;
    width: 90%;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
}

.brands-service-price_item{
    width: 93vw;
    height: 70px;
    align-items: center;
    display: grid;
    grid-template-columns: 35% 10% 15% 25%;
}

.brands-service-price_item:nth-child(1){
    display: grid;
    height: 50px;
    padding: 0px 0px 45px 0px;
    background-color: #F8F8F8;
    color: #7E7E82;
}

.brands-name_margin{
    margin-left: 20px;
}

.brands-service-price_item::before{
    display: block;
    content: '';
    width: 87vw;
    height: 1px;
    background-color: #EAEAEA;
    position: absolute;
    margin-top: 65px;
    margin-left: 3%;
}

.brands-service-price_item:nth-child(6)::before{
    display: none;
}
}

@media screen and (min-width: 1120px) {

.brands__title{
    display: none;
}  

.brands-service-price_list{
    padding: 0px;
    margin-left: 3%;
}

.brands-service-price_item{
    padding: 20px;
    font-size: 14px;
    width: 93vw;
    height: 70px;
    align-items: center;
    display: grid;
    grid-template-columns: 35% 10% 15% 25%;
}

.brands-service-price_item:nth-child(1){
    display: grid;
    height: 50px;
    padding: 0px 0px 45px 0px;
    background-color: #F8F8F8;
    color: #7E7E82;
    grid-template-columns: 35.5% 10% 15% 25%;
}

.brands-name_margin{
    margin-left: 20px;
}

.brands-service-price_item::before{
    display: block;
    content: '';
    width: 91vw;
    height: 1px;
    background-color: #EAEAEA;
    position: absolute;
    margin-top: 70px;
    margin-left: 1%;
}

.brands-service-price_item:nth-child(6)::before{
    display: none;
}

.brands-service-price_list{
    height: auto;
    display: flex;
    flex-direction: column;
}
}

@media screen and (min-width: 1440px) {
.brands-service-price_item{
    width: 74vw;
}

.brands-service-price_item::before{
    width: 72vw;
}

.brands-service-price_list{
    padding: 0px;
    margin-left: 3%;
    width: 90%;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
}
}