@import url(./styles/popupwindow.css);
@import url(./styles/topBar.css);
@import url(./styles/navigationService.css);
@import url(./styles/informationAboutUs.css);
@import url(./styles/barTitle.css );
@import url(./styles/swiperBrands.css);
@import url(./styles/swiperTypeRepairs.css);
@import url(./styles/swiperServicePrice.css);
@import url(./styles/informationBlock.css);
@import url(./styles/footer.css);

body{
    font-family: "TTLakes";
    background: #F8F8F8;
}

.wrap{
    box-sizing: border-box;
}

main{
    background: #F8F8F8 ;
}

a{
    text-decoration: none;
}

.wrap-main{
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
}

.invisible{
    display: none;
}

.ful-version-text_invisible{
    display: none;
}

@media screen and (min-width: 577px) and (max-width: 1119px) {
body{
    overflow-y: auto;
}

.invisible{
    display: flex;
}
}

@media screen and (min-width: 1120px){
body{
    background-color: #F8F8F8;
}

.ful-version-text_invisible{
    display: inline;
}

.invisible{
    display: inline;
}
}

@media screen and (min-width: 1440px){
.wrap{
    width: 90%;
    box-sizing: border-box;
}

body{
    display: flex;
}

.button_invisible{
    display: none;
}
}

/* Подключение шрифтов */

@font-face {
    font-family: "TTLakes"; 
    src: url("./fonts/TTLakes-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

@font-face {
        font-family: "TTLakesBold"; 
        src: url("./fonts/TTLakes-Medium.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal; 
}  

@font-face {
    font-family: "TTLakesB"; 
    src: url("./fonts/TTLakes-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}  