.personalData{
    font-size: 14px;
    color: #7E7E82;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

.personalData__color-text{
    color: #FF3E79;
}

.personalData__color-text:hover{
    text-decoration: underline;
}
